$monster-color: indianred;
$player-color: rgb(92, 109, 205);
$add-button: rgb(92, 205, 92);
$grey-color: rgb(179, 188, 236);
$orange-color: rgb(211, 175, 56);

$md-width: 767px;


.container-grid {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    @media (max-width:$md-width) {
        display: flex;
        flex-direction: column;
    }
}


body {
    font-family: 'Courier New', Courier, monospace;

}
.card-component {
    color: #fff;
    font-size: 1.2em;
    
    

    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    .card-name {
        width: 50%;
        }

    .card-roll {
        width:50%;
        font-weight: bold;
    }

    

}
.player-color {
    background: $player-color;
 }

 .monster-color {
     background: $monster-color;
 }
 .blank-card {
     border: 2px dashed $add-button;
    color: $grey-color;
 }

 .rainbow-card {
    background: linear-gradient(270deg, #ff4040, #ff9331, #6bd65d, #5da7d6, #635dd6, #b35dd6, #d65dae);
    background-size: 1400% 1400%;
    
    -webkit-animation: rainbow 5s ease infinite;
    -moz-animation: rainbow 5s ease infinite;
    animation: rainbow 5s ease infinite;
    
   border: 2px black dashed;
 }

.turn-controls {
    display: flex;
    color: #fff;
    font-size: 2em;
    cursor: pointer;

    .next-button {
        width: 50%;
        padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
        background: $orange-color;
    }
    .prev-button {
        width:50%;
        padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
        background: $orange-color;
    }
}




label {

    font-size: 2rem;
    padding: 1rem;

}
.inputValue {

    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid $monster-color;
}

.input-button {
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    background: $add-button;

    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
}



@-webkit-keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}